<div class="container">
  <h1 class="banner-title vertical-align p-0 m-0">
    <%= I18n.t("model.person.singular") %>
  </h1>
  <hr class="divider"/>
  <div class="row">
    <div class="form-group col-sm-12 col-md-6">
      <strong>
        <%= "#{I18n.t("views.persons.name")}:" %>
      </strong>
      <%= @person.name %>
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <strong>
        <%= "#{I18n.t("views.persons.rfc")}:" %>
      </strong>
      <%= @person.rfc %>
    </div>
    <% @person.emitted_amount.each do |currency| %>
      <div class="form-group col-sm-12 col-md-6">
        <strong>Total amount emitted in #{currency[0]}:</strong>
        <%= number_to_currency(currency[1]) %>
      </div>
    <% end %>
  </div>
  <div class="actions py-3">
    <%= link_to I18n.t("views.forms.return"), root_path, class: "btn btn-secondary" %>
  </div>
  <%= render partial: "invoices/table" %>
</div>
